.schedule-detail {
  margin: auto;
  margin-top: 50px;
  padding-bottom: 40px;
  width: 70%;
  border-radius: 10px;
  background: #dad7d7;
  box-shadow: var(--box-shadow);

  h2 {
    width: 400px;
    padding: 30px;
    margin: auto;
  }


  .list-field {
    margin-left: 145px;
    gap: 20px;
    padding: 10px;
    color: black;

    label {
      padding: 0 7px;
    }

    input {
      margin-top: 5px;
      padding: 7px 15px;
      padding-right: 50px;
      flex: 1;
      font-size: 16px;
      border-radius: 5px;
      background: white;
    }
  }

}