.schedule-detail {
  max-width: 700px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 24px;
    color: #333;
    margin: 20px auto;
  }

  .schedule-detail-container {
    margin: 10px;
    padding: 0 15px;
    .list-field {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .field {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-bottom: 15px;

        label {
          font-weight: bold;
          margin-bottom: 5px;
          color: #555;
          display: flex;
          align-items: center;

          .bx {
            margin-right: 5px;
          }
        }

        input {
          width: 100%;
          padding: 8px;
          box-sizing: border-box;
          border: 1px solid #ccc;
          border-radius: 4px;
          outline: none;
        }
      }

      .field[style] {
        margin: 20px 0;
        display: flex;
        align-items: center;

        label {
          margin-right: 10px;
        }

       
      }
    }
    
  }
  .cancel{
    display: grid;
    justify-content: center;
    margin-top: 25px;
    button{
      padding: 12px 22px;
      background-color: #ccc;
      font-weight: 600px;
      color: black;
      font-size: 16px;
      border-radius: 5px;
    }
    button:hover{
      background-color: black;
      color: white;
    }
  }
}