


select {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 120px;
  outline: none;
}
input {
  border: none;
  outline: none;
}
.button {
  margin-top: 20px;
  display: flex;
  gap: 40px;
  .cancel {
    margin-left: auto;
    button {
      padding: 15px 38px 15px;
      cursor: pointer;
    }
  }
  .submit {
    margin-right: 50px;
    padding: 15px 20px;
  }
  button {
    box-shadow: 0px 1px 11px -5px;
    border-radius: 5px;
    color: black;
    font-weight: 600;
  }
  button:active {
    background: cyan;
    color: white;
  }
}
