.contact-list {
  display: flex;
  flex-direction: column;
  height: 100%;

  .tabs {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    .tab {
      padding: 10px;
      cursor: pointer;
      font-weight: bold;
      border-radius: 5px;
      user-select: none;

      &.active {
        background-color: #f0f0f0;
      }
    }
  }

  .css-13xfq8m-MuiTabPanel-root {
    padding: 15px 10px;
  }

  .nav-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .nav-search {
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      border: 2px solid #ccc;
      height: 35px;
      background: #fff;
      border-radius: 10px;
      padding: 16px 0;
      margin: 10px 0;

      input {
        border: none;
        padding-left: 15px;
        width: 80%;
      }

      i {
        font-size: 20px;
        padding: 5px;
        border-radius: 40px;
        cursor: pointer;

        &:hover {
          background: #ccc;
        }
      }
    }

    .content {
      margin-top: 15px;

      .list-item {
        .item {
          height: 80px;
          display: flex;
          align-items: center;
          gap: 5px;
          border-radius: 5px;
          cursor: pointer;

          .item-avatar {
            padding-left: 10px;

            img {
              width: 55px;
              height: 55px;
              margin: 2px;
              border-radius: 50%;
            }
          }

          .item-content {
            padding: 16px 8px;
            color: #000;
            height: 100%;
            font-size: 16px;
            position: relative;
            display: flex;

          }

          .item-time {}
        }

        .item:hover {
          background-color: #dbd4d4;
        }
      }
    }
  }
}