.operation {
  padding-left: 15px;
  position: relative;
  .operation-open {
    font-size: 23px;
  }

  .operation-list-item {
    background: white;
    color: black;
    position: absolute;
    z-index: 99;
    right: 61px;
    top: -10px;
    min-width: 170px;
    box-shadow: -1px 1px 16px -10px;
    border-radius: 10px;
    cursor: pointer;
    .operation-item {
      display: flex;
      align-items: center;
      height: 50px;
      i {
        padding: 0 10px;
        font-size: 20px;
      }
      p {
      }
    }
    .operation-item:hover {
      background: #ccc;
      border-radius: 10px;
    }
  }
}
