.sortby{
    margin: 10px 0;
    padding: 5px 10px;
    background: #eae5e5;
    display: flex;
    border-radius: 5px;

    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
        padding: 10px 15px;
        padding-right: 30px;
    }
}
