.user-detail {
  margin: auto;
  margin-top: 50px;
  padding-bottom: 40px;
  width: 70%;
  border-radius: 10px;
  background: #dad7d7;
  box-shadow: var(--box-shadow);

  h2 {
    width: 400px;
    padding: 30px;
    margin: auto;
  }

  .user-detail-container {
    display: grid;
    grid-template-columns: 1.25fr 4fr;

    .avatar {
      margin: 12px 20px;
      margin-left: auto;
      margin-right: auto;
      img {
        border: 1px solid;
        width: 120px;
        height: 150px;
        border-radius: 3px;
      }
    }

    .list-field {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      padding: 10px;
      color: black;
      label {
        padding: 0 7px;
      }
      input {
        margin-top: 5px;
        padding: 7px 15px;
        padding-right: 50px;
        flex: 1;
        font-size: 16px;
        border-radius: 5px;
        background: white;
      }
    }
  }
  .cancel{
    display: grid;
    justify-content: center;
    margin-top: 25px;
    button{
      padding: 12px 22px;
      font-weight: 600px;
      color: black;
      font-size: 16px;
      border-radius: 5px;
    }
  }
}
