.layout {
    color: var(--txt-color);
}

.layout__content {
    padding-left: var(--sidebar-width);
    background-color: whitesmoke;
    min-height: 100vh;
}

.layout__content-main {
    padding-top: 1px;
    min-height: 88vh;
}
